# Default ignored files
/shelf/
/workspace.xml
# Zencoder local files
/zencoder/chats
/zencoder-chat-index.xml
/zencoder-chats-dedicated.xml
deploymentTargetSelector.xml
deviceManager.xml
workspace.xml
gradle.xml
migrations.xml
misc.xml
vcs.xml
runConfigurations.xml
compiler.xml